.center{
  display: flex;
  justify-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.num{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
  left: 0;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	padding: 5px;
}
.num6{
	transform: rotate(180deg);
}
.num6 div{
	transform: rotate(-180deg);
}
.num3{
	transform: rotate(90deg);
}
.num3 div{
	transform: rotate(-90deg);
}
.num9{
	transform: rotate(270deg);
}
.num9 div{
	transform: rotate(-270deg);
}
.clock {
  position: relative;
  width: 30rem;
  height: 30rem;
  background-color: crimson;
  border: 12px solid white;
  border-radius: 50%;
  margin: 50px auto;}
.center-circle{
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: rgb(255, 255, 255);
  top: 10rem;z-index: 200;
  border-radius: 50%;
  margin: 50px auto;
}
.hand {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.25s;
  transition-timing-function: cubic-bezier(0.76, 0.34, 0, 1.61);
}
.sec-hand { 
  height: 3px; 
  width: 35%;
  right: 50%;
}
.min-hand {
  width: 40%;
  right: 50%;
}
.hr-hand {
  width: 30%;
  height: 10px;
  right: 50%;
}

